@import '../../layout/variables';
//@import '../../layout/mixins';

.steps_main_cont{
  margin: 1.5rem auto;
  .step_cont{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p{
      border: 1px solid #a3a3a3;
      color: #a3a3a3;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-xl;
      font-weight: 200;
      user-select: none;
      transition: .5s ease;
    }
    .active{
      border: 3px solid $prim !important;
      transition: .5s ease;
      color: $prim;
      border-width: 1px;
      font-weight: 300;
    }
  }
}