@import '../../layout/variables';
@import '../../layout/functions';
@import '../../layout/mixins';

.nav-link{
  &:hover{
    color: $prim !important;
    cursor: pointer;
  }
}
.line{
  @include line($prim, 100%, 5px);
  width: 60%;
  margin: 0 auto;
}

.line_br{
  @include line($sec, 100%, .3px);
  margin: 1rem 0;
  width: 80vw;
  margin: 0 auto;
}
.post_cont{
  margin: 1rem auto;
  width: 80vw;
}

.card_body{
  padding-top: 0;
}

.info_perfil_con{
  margin: 1.5rem 0;
  h2{
    color: $prim;
    font-size: 18px;
    text-transform: capitalize;
  }
  p{
    font-size: 16px;
    margin: 0;
  }
}

.friend_main_cont{
  margin: 0 auto;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  a{
    display: block;
  }
  .friend_cont{
    display: block;
    width: 100px;
    margin: 1rem;
    &:hover{
      cursor: pointer;
    }
    img{
      width: 100px;
      height: 120px;
    }
    p{
      font-size: 14px;
      color: $prim;
      margin: 0 auto;
      text-align: center;
    }
  }
}