$prim: #8bb940;
$sec: #669f09;
$tri: #007f1a;
$danger: #ff6c1a;
$alert: #f9e453;
$gray1: #ffffff80;

$title: 'Sansita';
$text: 'Open Sans';
$logoFont: 'Pacifico';

$font-1: 72px;
$font-2: 48px;
$font-3: 36px;
$font-4: 24px;
$font-5: 18px;
$font-6: 16px;
$font-7: 14px;
$font-8: 11px;


$font-sm: 14px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 48px;
