@import '../../layout/variables';

.logo_cont{
  font-family: 'Pacifico';
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  svg{
    transition: .5s ease;
    width: 30px;
    height: 30px;
    fill: #fff;
  }
  span{
    transition: .5s ease;
    color: #fff;
  }
  &:hover{
    svg{
      fill: $prim;
    }
    span{
      color: $prim;
    }
  }
}
.dark{
  svg{
    transition: .5s ease;
    width: 30px;
    height: 30px;
    fill: $prim;
  }
  span{
    transition: .5s ease;
    color: $prim;
  }
  &:hover{
    svg{
      fill: $sec;
    }
    span{
      color: $sec;
    }
  }
}