@import '../layout/variables';

/*
      style={{
        backgroundImage: `url(${person.frontPageImg}) center top no-repeat`,
        background: '#669f09',
        backgroundBlendMode: 'multiply',
        backgroundSize: 'cover',
        backgroundAttachment: 'fixed',
      }}
*/

.void_space{
  height: 1200px;
}
