@import '../../layout/variables';
@import '../../layout/mixins';

.about_main_cont{
  height: 100vh;
  display: flex;
  background: #333;
  position: relative;
  .container_relative{
    position: relative;
    z-index: 1;
  }
  h1{
    margin-top: 3rem;
    font-size: 36px;
    color: #fff;
  }
  .line{
    border-bottom: 4px solid #fff;
    width: 5%;
  }
  p{
    color: #fff;
    width: 40%;
    text-align: justify;
    margin-top: 1rem;
    font-size: 16px;
  }
  a{
    font-size: 28px;
    color: $prim;
    bottom: 0;
    margin-top: 2%;
  }
  .logo_about_cont{
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}

.about_main_cont::after{
  content: '';
  background:#333;
  position: absolute;
  transform: skewX(-18deg);
  height: 100vh;
  width: 50%;
  //z-index: 1;
}
.about_main_cont::before{
  content: '';
  position: absolute;
  right: 0;
  background:url('/static/about.jpg') center top no-repeat;
  background-size: cover;
  width: 70%;
  height: 100vh;
}
